*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.flex{
    display: flex;
    align-items: center;
}
.container{
    padding:15px ;
    min-height: 100vh;
    justify-content: center;
    background-color: aliceblue;
}
.Facebook-page{
        justify-content: space-between;
        max-width: 1000px;
        width: 100%;
}
.Facebook-page text{
            margin-bottom: 90px;
}
.Facebook-page h1{
        color: #1877f2;
        font-size: 4rem;
        margin-block: 10px;
        text-transform: lowercase;
}
.Facebook-page .p{
    font-size: 1.75rem;
    white-space: nowrap;
}
form{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba( 0, 0, 0, 0.1), 0 8px 16px rgba( 0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}
form input{
     height: 55px;
     width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 1rem; 
    padding: 0 14px;
}

form input:focus{
    border-color: #1877f2;
    outline: none;
}


::placeholder{
     font-size: 1.063rem;
     color: #777;
}
.link{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}
.link .login{
        outline: none;
        border: none; 
        cursor: pointer;
        background-color: #1877f2;
        padding: 15px 0;
        color: #fff; 
        border-radius: 6px;
        font-size: 1.2rem;
        font-weight: 600;
        transform: 0.2s ease;
}
.link .login:hover{
        background-color: #0d65d9;
}
form a{
    text-decoration: none;
}
.link .forget{
        color: #1877f2;
        font-size: 0.875rem;
}
.link .forget:hover{
        text-decoration: underline;
}
hr{
    border: none;
    background-color: #ccc;
    margin: 20px 0;
    height: 1px;
}
.button{
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
}
.button a{
    padding: 15px 20px;
    background-color: #42b72a;
    border-radius: 6px;
    color: #fff;
    font-size: 1.063rem;
    font-weight: 600;
    transition: 0.2s ease;
}
.button a:hover{
    background-color: #3ba626;
}
@media (max-width:900px){
    .Facebook-page{
         flex-direction: column;
         text-align: center;
    }
    .Facebook-page text{
        margin-bottom: 30px;
    }
}
@media (max-width:400px) {
        .Facebook-page h1{
                font-size: 3.5rem;
        }
        .Facebook-page p{
             font-size: 1.3rem;
        }
        form{
            padding: 15px;
        }
}